
html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Karla', sans-serif;
  color: white;
}
.container {
  max-width: 500px;
  background-color: white;
  margin: 20px auto;

}


.head{
	height: 50px;
	width: 500px;
	background-color: #8E24AA;
	
}
.input{
	display: flex;
}

.btn{
	background: #8E24AA;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-size: 12px;
	margin-left: 10px;

}
.btn:hover{
	cursor: pointer;
	background:#F3E5F5;
}

input{
	width: 100%;
	border: none;
	flex: 1;
    padding: 0px 20px;
    font-weight: 600;
}


.messages {
  height: 500px;
  background: #F5F5F5;
}